[Unit]
Description=Load Device Tree overlays for ozone spectrometer
After=cpufrequtils.service gpsd.service
Requires=gpsd.service

[Service]
Type=oneshot
; Load device tree overlays
ExecStart=/bin/sh -c "echo MOSAIC-cape > $(echo -n /sys/devices/bone_capemgr.*/slots)"
; Configure GPIO pin for calibrator switching
ExecStart=/bin/sh -c /home/ozone/mosaic/ozone_test/setupgpio
; Always run CPU at full speed
ExecStart=/usr/bin/cpufreq-set -g performance
RemainAfterExit=yes

