[Unit]
Description=Ozone spectrometer
Requires=ozonedto.service gnssdo.service
After=ozonedto.service gnssdo.service

[Service]
ExecStart=/usr/bin/screen -D -m -S ozonespec "/home/ozone/mosaic/ozone_test/ozonespec"
WorkingDirectory=/home/ozone/mosaic/ozone_test
#StandardError=null
Type=simple
User=ozone
Restart=always
RestartSec=10

[Install]
WantedBy=graphical.target

